
footer.footer {
	.content {
		padding: 0;
		@media screen and (max-width: $break-small) {
          padding: 0 $large-spacing;
        }
	}
	.top-footer {
		background-repeat: no-repeat;
		background-position: bottom;
		height: 100%;
	}
	section.you-can-help {
		.content {
			background-color: $background-gray;
			border-top: 7px solid $light-accent-brand;
			margin-top: $xl-spacing;
			text-align: center;
			height: 100%;
		}
	}
	section.get-help {
		margin: $xl-spacing 0 $xl-spacing*2 0;
		@media screen and (max-width: $break-small) {
          margin: 0;
        }
		.content {
			background-color: $primary-brand;
			text-align: center;
			height: 100%;
		}
		.text {
			color: white;
		}
	}
	.text {
		padding: $xl-spacing $xl-spacing*2 0 $xl-spacing*2;
		@media screen and (max-width: $break-small) {
          padding: $large-spacing 0 0 0;
        }
	}
	.bottom-footer {
		background-color: $primary-brand;
		text-align: center;
		padding: $xl-spacing 0;
		a {
			color: white;
			text-decoration: underline;
			&:hover {
				color: $light-accent-brand;
			}
		}
		ul {
			margin-bottom: $large-spacing;
		}
		.svg-inline--fa {
			margin: 0 $small-spacing;
		}
		li {
			display: inline-block;
			list-style-type: none;
			margin: 0 $med-spacing;
			text-decoration: underline;
		}
		p {
			color: white;
		}
	}
}