.sticky-footer {
	height: auto;
	padding: $med-spacing;
	max-width: 1200px;
	left: 50%;
    transform: translate(-50%, 0);
	background-color: $text-gray;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	.svg-inline--fa {
		position: absolute;
		right: 0;
		color: white;
		top: -$med-spacing;
		margin-top: $small-spacing;
		font-size: 25px;
	}
	.content {
		padding-top: $med-spacing;
	}
	h4 {
		color: white;
		margin-bottom: $large-spacing;
		text-align: center;
	}
	a.btn-med {
		left: 50%;
   		transform: translate(-50%, 0);
   		position: absolute;
   		display: inline-block;
	}
}
