section.testimonials {
    background-color: $primary-brand;
    padding-bottom: $xl-spacing;
    @media screen and (max-width: $break-small) {
        padding: $med-spacing;
      }
    .content {
      border: 7px solid white;
      padding: $large-spacing 0;
    }
    img {
      width: 55px;
      padding: $large-spacing $large-spacing 0 $large-spacing;
    }
    h1 {
      color: white;
      padding: 0 $xl-spacing $large-spacing 100px;
      text-align: left;
      @media screen and (max-width: $break-small) {
        padding: $large-spacing;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }