section.text-with-facts {
  background-color: $background-gray;
  .content {
    display: flex;
  }
  .column-a {
    padding-right: $xl-spacing;
    width: 45%;
    @media screen and (max-width: $break-small) {
      width: 100%;
      padding-right: 0;
    }
    a {
      color: $accent-link;
    }
  }
  .column-b {
    padding-left: $xl-spacing;
    width: 45%;
    @media screen and (max-width: $break-small) {
      width: 100%;
      padding: 0;
    }
    .text {
      padding: $med-spacing;
      text-align: center;
      background-color: white;
      margin-bottom: $large-spacing;
    }
    h1 {
      color: $light-accent-brand;
    }
  }
}