section.main {
  display: inline-block;
  max-width: 840px;
  margin-right: 140px;
  float: left;
  width: 100%;
  h1.title {
    margin-bottom: $med-spacing;
  }
}

section.sidebar {
  display: inline-block;
  max-width: 300px;
  float: right;
  width: 100%;
}