body.page-id-183 {
	section.hero {
		background-color: $light-accent-brand;
		padding-top: $large-spacing;
		.content {
			background-color: white;
			margin-top: $large-spacing;
			border-top: 7px solid $primary-brand;
		}
	}
}