  <section class="map">
    <div class="content">
      <hr />
      <h2>{{page.map_headline}}</h2>
      <h4>{{page.map_description}}</h4>
      <div class="video-wrapper">
        {{page.iframe}}
      </div>
    </div>   
  </section>