<section class="full-width-content">
  <div class="content">
    <div class="text">
      <hr />
      <h2>{{module.title}}</h2>
      <h4>{{module.description}}</h4>
    </div>
    <div class="image">
        <img src="{{ TimberImage(module.image).src }}" />
    </div>
  </div>
</section>