<section class="video">
  <div class="content">
    <div class="text">
      <hr />
      <h2>{{module.video_title}}</h2>
      <h4>{{module.video_description}}</h4>
    </div>
    <div class="video-container">
      <div class="video-wrapper">
        {{module.video_link}}
      </div>
    </div>
  </div>
</section>