<section class="full-width-content">
  <div class="content">
    <div class="text">
      <hr />
      <h2>{{module.full_width_title}}</h2>
    </div>
    <div class="module-content">
        {{module.full_width_content}}
    </div>
  </div>
</section>