  <section class="map">
    <div class="content">
      <hr />
      <h3>{{module.map_headline}}</h3>
      <h4>{{module.map_description}}</h4>
      <div class="video-wrapper">
        {{module.iframe}}
      </div>
    </div>   
  </section>