@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin content-container {
  display: block;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@mixin small-content-container {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}